#inf{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    opacity: .9;
   
}

#inf .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contenedorul { 
    width: 100%;
    height: 200px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 30px;
    background-color: rgba(0,0,0,0.8);
   
}

.contenedorul img {
    width: 50px;
    height: 50px;
    box-shadow:  0px 0px 20px 0px gold;
    margin-left: 20px;
}



.contenedorul p {
    margin-bottom: 30px;
    margin-left: 50px;
}

.inf-auto {
    margin: 20px;
}
.inf-auto img {
    width: 180px;
    height: 100px;
    border-radius: 10%;
    border: 2px solid gold;
}
@media (min-width:480px){
    .inf-auto {
        width: 40%;
    }
}

@media (min-width:1024px){

    .logopersonal{
        position: absolute;
        margin-top: 30px;
        margin-left: 100px;
    }

    .contenedorul { 

        width: 100%;
        height: 260px;
        font-family: 'Yantramanav', sans-serif;
        font-size: 30px;
        background-color: rgba(0,0,0,0.8);
       
    }
    
    .contenedorul p {

        margin-top: 50px;
        margin-left: 50px;
    }

    .contenedorul img {
        width: 50px;
        height: 50px;
        box-shadow:  0px 0px 20px 0px gold;
        margin-left: 20px;

    }

    .nombre2{
  
        position: absolute;
        margin-top: 20px;
        margin-left: 50px;
        

    }
  .redes img {
      margin-top: 50px;
  }
    
  .redes img:hover{

    transform: translateY(5px);
    box-shadow:  0px 0px 13px 0px rgba(252, 15, 15, 0.808);
  }


    #inf h3{
        font-family: 'Yantramanav', sans-serif;
    }

    .inf-auto {
        width: auto;
    }

    .inf-auto img {
        transform: scale(1);
    }

    .inf-auto img:hover {
    
        transform: scale(1.4);

    }
}